body{
    font-family: 'Orbitron', sans-serif;
}

.operatorButton{
    background-color: #b3b300;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    font-size: 1.25rem;
    border-radius: 8px;
}

#container{
    padding-top: 15%;
    text-align: center;
}

#solution{
    color: #b3b300;
    font-size: 2rem;
}
